::-webkit-scrollbar { /* 1 - скроллбар */
    width: 6px;
    height: 4px;
    background-color: #031126;
  }

  ::-webkit-scrollbar-button { /* 2 - кнопка */

  }

  ::-webkit-scrollbar-track { /* 3 - трек */
  }

  ::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
  }

  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2px;
    background-color: #49b3fb;
  }

  ::-webkit-scrollbar-corner { /* 6 - уголок */
  }

  ::-webkit-resizer { /* 7 - изменение размеров */
  }